@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(202, 86%, 94%);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  height: auto;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}



button,
input {
  font-family: inherit;
}

.clear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.clear h3 {
  color: hsl(202, 55%, 16%);
}

.clear-btn {
  text-align: right;
  background: none;
  border: none;
  color: hsl(200, 26%, 54%);
  cursor: pointer;
  font-size: 16px;
  font: inherit;
  text-decoration: underline dotted;
  padding: 0;
  width: 100px;
}

.clear-btn:hover {
  color: hsl(200, 24%, 40%);
}

.form {
  width: 50%;
  padding: 32px;
}

.term-rate {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: hsl(200, 24%, 40%);
  font-weight: 500;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid hsl(200, 24%, 40%);
  outline: none;
  transition: all 0.2s ease;
}

.input-box:hover {
  border:1px solid hsl(0, 0%, 0%);
}

.input-box:focus-within {
  border-color: hsl(61, 70%, 52%);
}

.input-box input {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
  font-weight: 700;
  padding: 0 20px;
}

.input-box .addon {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 14px;
  font-size: 18px;
  font-weight: 700;
  pointer-events: none;
  background-color: hsl(202, 86%, 94%);
  color: hsl(202, 55%, 16%);
  transition: all 0.2s ease;
}

.input-box.left .addon {
  left: 0;
  border-radius: 6px 0 0 6px;
}

.input-box.left input {
  padding-left: 48px;
}

.input-box.right .addon {
  right: 0;
  border-radius: 0 6px 6px 0;
}

.input-box.right input {
  padding-right: 70px;
}

.input-box:focus-within input {
  background-color: hsl(61, 100%, 95%);
}

.input-box:focus-within .addon {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
}

.mortgage-type {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.type-option {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
  padding: 12px 16px;
  outline: 1px solid hsl(200, 24%, 40%);
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.2s ease;
}

.type-option.active {
  background-color: hsl(61, 100%, 88%);
  outline: 2px solid hsl(61, 70%, 52%);
  border: none;
}

.type-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.type-option:focus-within {
  outline: 2px solid hsl(61, 70%, 52%);
  outline-offset: 2px;
}

.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid hsl(61, 70%, 52%);
  border-radius: 50%;
  background: white;
  position: relative;
  transition: all 0.2s ease;
}

.type-option input[type="radio"]:checked+.radio-custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: hsl(61, 70%, 52%);
  border-radius: 50%;
}

.type-option input[type="radio"]:checked+.radio-custom {
  background-color: hsl(61, 100%, 88%);
  border-color: hsl(61, 70%, 52%);
}

.calculate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 36px;
}

.calculate:hover {
  background-color: hsl(61, 69%, 73%);
}

.result {
  width: 50%;
  background-color: hsl(202, 55%, 16%);
  color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 80px;
  text-align: center;
}

.empty img {
  max-width: 160px;
}

.results-header {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.results-text {
  font-size: 14px;
  color: hsl(200, 26%, 54%);
}

.completed {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  color: white;
  text-align: left;
}

.your-results {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.results-text-comp {
  font-size: 14px;
  color: hsl(203, 41%, 72%);
  padding-bottom: 24px;
}

.results-block {
  background-color: hsl(198, 63%, 13%);
  border-radius: 8px;
  border-top: 4px solid hsl(61, 70%, 52%);
  padding: 24px;
  box-shadow:
    0 6px 18px rgba(255, 255, 255, 0.04);
}

.monthly-repay h1 {
  color: hsl(61, 70%, 52%);
  font-size: 46px;
  font-weight: 700;
  padding-bottom: 24px;
}

.monthly-repay .results-text,
.total-repay .results-text {
  color: hsl(203, 41%, 72%);
  padding-bottom: 10px;
}

.total-repay h3 {
  font-size: 24px;
  font-weight: 700;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.input-box.error {
  border: 2px solid hsl(0, 70%, 50%);
}

.input-box.error .addon {
  background-color: hsl(0, 70%, 50%);
  color: white;
}

.form-error {
  color: hsl(0, 70%, 50%);
  font-size: 12px;
  margin-top: 12px;
  font-weight: 600;
}

@media (max-width: 768px) {
  body {
    align-items: flex-start;
  }

  .card {
    flex-direction: column;
    height: auto;
  }

  .clear {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 12px;
    padding-bottom: 12px;
  }

  .clear-btn {
    text-align: left;
  }

  .form,
  .result {
    width: 100%;
  }

  .result {
    border-radius: 0 0 16px 16px;
    text-align: center;
  }

  button {
    width: 100%;
  }
}